<!-- signup components html file  -->
<body>
<div class="con">
   <h1 id="tit">Create new User</h1>
<div>
   
 <div>
    Username: <input type="text" [(ngModel)]="user.username" />
</div>
<div>
    Password: <input type="password" [(ngModel)]="user.password" />
</div>
<div>
    Email: <input type="email" [(ngModel)]="user.email" />
</div>
<div>
    fullname: <input type="text" [(ngModel)]="user.fullname" />
</div> 
    
    <button id="btn" (click)="registerUser()">Submit</button><br>
</div>

<a id="rt" routerLink="/">Login</a>
 
</div>
</body>